<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>blogSearch</title>
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <link th:href="@{/css/sub.css}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script th:src="@{/js/sub.js}"></script>
    </head>
</th:block>
</html>